<div class="container mt-3 h-100 w-100 ms-1 me-1">
    <table class="table table-hover">
      <thead>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Dueños</th>
      </thead>
      <tbody>
        @for(file of files;track file){
          <tr>
            <td>
              <input type="checkbox" [checked]="selectedFiles.includes(file.id)" (change)="toggleSelection(file.id)">
            </td>
            <td [title]="file.name">{{truncateName(file.name)}}</td>
            <td>{{file.creation | date: 'MMM d, yyyy'}}</td>
            <td>
              @for(owner of file.owners.slice(0, 3);track owner){
                <img [src]="owner.avatarUrl" class="owner-avatar ms-1 mb-1" [alt]="owner.name">
              }
              @if(getExtraOwnersCount(file)>0){
                <span class="extra-owners-count">+{{getExtraOwnersCount(file)}}</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>


  <button (click)="deletedSelected()" [disabled]="selectedFiles.length === 0">Delete Selected</button>
